#mainContent {
    padding: 2rem;
    display: flex;
    overflow-x: scroll;
    height: 90vh;
}

#dinamicContainer {
    min-width: 15rem;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: white;
    text-align: center;
    margin: 0 2rem;
    height: fit-content;
}

#addColumnBtn {
    font-size: 1rem;
    background-color: transparent;
    cursor: pointer;
    padding: 1rem;
}

#dinamicContainer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}

#dinamicContainer div input {
    border: 1px black solid;
    padding: .5rem;
    border-radius: .5rem;
}

#dinamicContainer div div {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.buttonsContainer button {
    background-color: gray;
    color: white;
    padding: .5rem;
    border-radius: .5rem;
}

.columns {
    display: flex;
    flex-direction: row;
}

.column {
    background-color: white;
    width: 20rem;
    margin: 0 2rem;
    height: fit-content;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: .5rem;
}

.column button {
    font-size: 1.5rem;
    cursor: pointer;
    color: gray;
}

.taskInputs {
    background-color: gray;
    border-radius: .5rem;
    text-align: center;
    padding: .5rem;
}

.taskInputs textarea {
    resize: none;
    width: 80%;
    border-radius: .3rem;
    padding: .5rem;
}

.taskInputs input {
    width: 80%;
    margin-bottom: .2rem;
    border-radius: .3rem;
    padding: .5rem;
}

.taskInputsBtns {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.taskInputsBtns button {
    border-radius: .3rem;
    padding: .2rem;
    width: 2rem;
    cursor: pointer;
}