* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    background-color: rgb(43, 43, 43);
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    color: white;
}

#colorPick {
    display: none;
    position: absolute;
    width: 2rem;
    background-color: transparent;
    right: 2.4rem;
    top: 3.5rem;
}

#colorPick button {
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    cursor: pointer;
    transition: transform 0.3s;
}

#colorPick button:hover {
    transform: translateX(-5px);
}

.buttonColor {
    width: 2.5rem;
    color: black;
    background-color: white;
    transition: transform 0.3s;
    cursor: pointer;
}

.buttonColor:hover {
    transform: translateY(-5px);
}

.columns {
    display: flex;
    justify-content: space-evenly;
}

.column {
    margin-top: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(43, 43, 43);
    color: white;
    border-radius: 2rem;
    letter-spacing: 2px;
}

#taskDescriptionInput {
    resize: none;
}

.column-title {
    margin-bottom: 2rem;
}
